@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission #5 - Emily Reyes";

}

<!-- Emily Reyes
    Mission #4 Assignment
    Web page with personal info and grade calculator for IS 413-->



<!-- my name is -->
<h1>Emily Reyes</h1>
<br /><br />

<!-- picture of me attending a byu football game -->
<img src="img/IMG_3840.jpg"
        width="350"
        height="466" />

<br /><br /><br />
<!-- section describing what i want to get out of is 413 -->
<h2>What I hope to get out of this class</h2>
<p>I hope that after this class I will have a better, more solidified understanding of object oriented programing that I haven't had before now.</p>
<p>I hope to add another coding language to my toolbelt and have a good understanding of how to create C# web apps.</p>
<p>I also hope to better understand API's and learn ways to be most effective in using them.</p>

<br /><br />
<!-- jobs i'm looking at post graduation -->
<h2>Top 3 Jobs</h2>
<ul>
    <li>Data Scientist</li>
    <li>Front-End Developer</li>
    <li>IT Consultant</li>
</ul>

<!-- form to recieve inputs to calculate grade -->
<br /><br />

